/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/* HOME */
.articleleft {
    float: left;
    padding: 8px 0 0 8px;
    width: 46%
}

.home_expert {
    -moz-transition: all .3s ease-out 0;
    background: none repeat scroll 0 0 #E9EDF0;
    float: left;
    margin-bottom: 8px;
}
.home_expert_row {
    width: 100%;
}
.home_expert_column {
    margin-left: 8px;
    width: 46%;
    margin-top: 2px;
    margin-right: 6px
}

.home_expert_content {
    color: #fff;
    display: inline;
    float: left;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    padding-bottom: 5px;
    position: relative;
    text-align: left;
    width: 100%
}

.home_expert_title {
    display: block;
    float: left;
    height: 42px;
    width: 54%;
    color: #000;
}

a:hover .home_expert_title {
    text-decoration: underline;
}

.home_expert_content img {
    border: 0 none;
    display: inline;
    float: left;
    height: 79px;
    margin-right: 5px;
    padding-left: 0;
    width: 37.7%;
    border-image: initial
}
.home_expert_excerpt {
    height: 88px;
    color: #333;
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;
    margin-top: 38px;
    padding: 4px 4px 0 8px;
    text-align: left;
}

.home_expert_author {
    background: none repeat scroll 0 0 #D3D6D8;
    border-bottom: 1px solid #DDD;
    color: #000;
    float: left;
    font-size: 12px;
    padding-left: 5px;
    width: 98.2%;
    font-weight: normal;
}

.home_tips_container {
    clear: both;
}

/**
 * Pods Form
 */

.entry-content li.pods-field, .pods-field, p.pods-add-file {
    overflow: auto;
}

.pods-form-front .pods-field-label {
    text-align: right;
    padding-right: 1em;
    box-sizing: border-box;
}

.mise.green {
    background-color: green;
}

.mise.orange {
    background-color: orange;
}

.mise.red {
    background-color: red;
}

.resultat2 .fa-times, .pickside .fa-times {
    color: #F36058;
    width: 1em;
    text-shadow: 0px 0px 1px #fff;
    text-align: center;
}

.resultat2 .fa-check, .pickside .fa-check {
    color: #7DBE7B;
    width: 1em;
    text-shadow: 0px 0px 1px #fff;
    text-align: center;
}

.resultat2 .fa-exchange, .pickside .fa-exchange {
    color: #DBA50B;
    width: 1em;
    text-shadow: 0px 0px 1px #fff;
    text-align: center;
}

.resultat2 .fa-circle, .pickside .fa-circle {
    color: darkgrey;
    width: 1em;
    text-shadow: 0px 0px 1px #000;
    text-align: center;
}


/*
################
HISTORY
################
*/

.history-pagination {
    clear: both;
    text-align: center;
    margin-bottom: 1.5em;
}

.history-pagination__list {
    display: flex;
    flex-wrap: wrap;
    direction: row;
    justify-content: space-around;
    font-size: 18px;
}

.history-pagination__list li a {
    display: inline-block;
    white-space: nowrap;
    padding: 4px 6px;
    color: #668da3;
    border: 1px solid transparent;
}

.history-pagination__list li a:hover {
    border: 1px solid #668da3;
}

.history-pagination__list li span {
    display: inline-block;
    white-space: nowrap;
    color: #27313D;
    border: 1px solid transparent;
    padding: 4px 2px;
}

.history-pagination__list li span.active {
    color: #27313D;
    padding: 4px 6px;
}

.history-list-pari h4 {
    font-size: 20px;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0.25em;
}


/*
################
BILAN EXPERT
################
*/
.bilanexpert .hidden_tips .match2 a {
    color: #c0eb16;
}
.bilan_expert_top {}

.bilan_expert_text {
    width: calc(100% - 720px);
    float: left;
    padding-top: 50px;
    padding-right: 20px;
    box-sizing: border-box;
}

.bilan_expert_stats {
    width: 720px;
    float: left;
    box-sizing: border-box;
}

.bilan_expert_main {
    float: left;
    width: 75%;
}

.bilan_expert_sidebar {
    float: right;
    width: 23%;
}

.stats_expert_container {
    display: flex;
}

.stats_expert_container .stat_expert {
    flex: 1 1 auto;
}
