/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */




/**
 * Pods Form
 */
.entry-content li.pods-field {
    line-height: inherit;
}
.pods-form-front .pods-field-label {
	text-align: right;
	padding-right: 1em;
	box-sizing: border-box;
}

.mise.green {
    background-color: green;
}
.mise.orange {
    background-color: orange;
}
.mise.red {
    background-color: red;
}

/*
################
HISTORY
################
*/
.history-pagination {
    clear:both;
    text-align:center;
    margin-bottom: 1.5em;
}
.history-pagination__list {
    display: flex;
    flex-wrap: wrap;
    direction: row;
    justify-content: space-around;
    font-size: 18px;
}
.history-pagination__list li a {
    display: inline-block;
    white-space: nowrap;
    padding: 4px 6px;
    color: #668da3;
    border: 1px solid transparent;
}
.history-pagination__list li a:hover {
    border: 1px solid #668da3;
}
.history-pagination__list li span {
    display: inline-block;
    white-space: nowrap;
    color: #27313D;
    border: 1px solid transparent;
    padding: 4px 2px;
}
.history-pagination__list li span.active {
    color: #27313D;
    padding: 4px 6px;
}
.history-list-pari h4 {
    font-size: 20px;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0.25em;
}
/*
################
BILAN EXPERT
################
*/
.bilan_expert_top {

}
.bilan_expert_text {
    width: calc(100% - 720px);
    float: left;
    padding-top: 50px;
    padding-right: 20px;
    box-sizing: border-box;
}
.bilan_expert_stats {
    width: 720px;
    float: left;
    box-sizing: border-box;
}
.bilan_expert_main {
    float: left;
    width: 75%;
}
.bilan_expert_sidebar {
    float: right;
    width: 23%;
}

.stats_expert_container {
    display: flex;
}
.stats_expert_container .stat_expert {
    flex: 1 1 auto;
}
